# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.TMP

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake Files
build/
cmake-build-debug/
build_cpu/
build_gpu/
